<!DOCTYPE html>
<html>
  <head>
    <title>lobby</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/formCheck.js"></script>
  </head>
  <body>
    <h1>chat rooms</h1>
	<a href="/logout">logout</a>
    <div>choose or create room</div>
	<div><font color="red"><%= message %></font></div>
    <form id="createRoom" action="/createRoom" method="POST">
      <div>
        name:<input type="text" name="name" id="name" />
        <button type="submit">create new room</button>
        <span id="createRoom_msg"></span>
      </div>
    </form>
    <% for(var i=rooms.length-1;i>=0;i--) { %>
    <div><a href="/room/<%= rooms[i].name %>"><%= rooms[i].name %></a></div>
    <% } %>
  </body>
</html>
