<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/formCheck.js"></script>
  </head>
  <body>
    <h1>signup</h1>
    <div>input new account information</div>
		<div><font color="red"><%= message %></font></div>
		<form name="user" id="user" action="/regist" method="GET">
		  <div>
            ID:<input type="text" name="userid" id="userid" />
            <span id="userid_msg"></span>
          </div>
		  <div>
            pass:<input type="text" name="pass" id="pass" />
            <span id="pass_msg"></span>
          </div>
		  <div><button type="submit">signup</button></div>
		</form>
  </body>
</html>
