<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>signup</h1>
		<div>input new account information</div>
		<form action="/regist" method="GET">
		  <div>ID:<input type="text" name="userid" id="userid" /></div>
			<div>pass:<input type="text" name="pass" id="pass" /></div>
			<div><button type="submit">login</button></div>
		</form>
  </body>
</html>
